<style>
    .right-menu {
        position: fixed;
        z-index: 1000;
    }
</style>
<div class="right-menu" ng-mousedown="rightMenus.close($event)" ng-show="rightMenus.show"
     ng-style="{left:rightMenus.X,top:rightMenus.Y}">
    <div class="dropdown">
        <ul class="dropdown-menu inline" role="menu">
            <li ng-class="{'divider':item=='line'}" ng-repeat="item in rightMenus">
                <a ng-if="item!='line'" ng-click="item.click()" ng-bind="item.text"></a>
            </li>
        </ul>
    </div>
</div>
